.container {
    margin: 0 auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial;
}

.btn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 20px;
    font-weight: regular;
    padding: 15px 64px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.btn:hover:enabled {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn:disabled {
    background-color: #a5a5a5;
    border: 1px solid #ececec;
    cursor: default;
    color: rgb(199, 199, 199);
}

.lamp {
    height: 256px;
    width: 256px;
    background: rgb(235, 235, 235);
    background: radial-gradient(circle, rgba(158, 158, 158, 0.329) 0%, rgba(255, 255, 255, 0) 50%);
    border-radius: 50%;
    display: inline-block;
    align-self: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.lamp__light {
    height: 42px;
    width: 42px;
    background-color: rgb(255, 231, 96);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 16px 16px rgb(255, 231, 96);
}

#logs-included {
    color: #cecece;
}